<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Project Categories</h2>
        <p>Please explore the various types of service projects available in our network:</p>

        <ul class="categories-list">
            <% if (categories && categories.length> 0) { %>
                <% categories.forEach(category=> { %>
                    <li>
                        <%= category.name %>
                    </li>
                    <% }); %>
                        <% } else { %>
                            <li>No categories found.</li>
                            <% } %>
        </ul>
    </main>

    <%- include('partials/footer') %>